    .board {
        position: absolute;
        width: 1100px;
        height: 600px;
        z-index: 10;
        top: 20%;
        left: 40%;
        margin: -100px 0 0 -400px;
        background: rgb(30, 139, 30);
        text-align: center;
        display: table;
    }
    
    h1 {
        vertical-align: middle;
        display: table-cell;
        font-family: 'Great Vibes', cursive;
        color: #bba58e;
        font-size: 110px;
    }
    /* dealers cards     */
    
    .dcard1 {
        left: 170px;
        top: 10px;
        border: 1px solid black;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        background-color: brown;
    }
    
    .dcard2 {
        left: 320px;
        top: 10px;
        border: 1px solid black;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        background-color: brown;
    }
    
    .dcard3 {
        left: 465px;
        top: 10px;
        /* border: 1px solid black; */
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        /* background-color: brown; */
    }
    
    .deck {
        left: 955px;
        top: 200px;
        border: 1px solid white;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        color: black;
        background-color: aquamarine;
    }
    
    input[type="text"] {
        width: 80px;
        border-radius: 2px;
    }
    /* players options     */
    
    .bet {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        margin: 15px;
    }
    
    .playersmoney {
        left: 10px;
        top: 200px;
        border: 1px solid black;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        color: black;
        background-color: purple;
    }
    
    .playerchoices {
        left: 895px;
        top: 484px;
        border: 1px solid black;
        height: 100px;
        width: 190px;
        position: absolute;
        border-radius: 15px;
        color: black;
        background-color: black;
    }
    /* players cards     */
    
    .pcard1 {
        left: 170px;
        top: 384px;
        border: 1px solid black;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        color: black;
        background-color: brown;
    }
    
    .pcard2 {
        left: 320px;
        top: 384px;
        border: 1px solid black;
        height: 200px;
        width: 130px;
        position: absolute;
        border-radius: 15px;
        color: black;
        background-color: brown;
    }
    
    .pcard3 {
        left: 465px;
        top: 384px;
        /* border: 1px solid black; */
        height: 200px;
        width: 130px;
        position: absolute;
        /* border-radius: 15px; */
        color: black;
        /* background-color: grey; */
    }
    
    .pcard4 {
        left: 605px;
        top: 384px;
        /* border: 1px solid black; */
        height: 200px;
        width: 130px;
        position: absolute;
        /* border-radius: 15px; */
        color: black;
        /* background-color: grey; */
    }
    
    .pcard5 {
        left: 750px;
        top: 384px;
        /* border: 1px solid black; */
        height: 200px;
        width: 130px;
        position: absolute;
        /* border-radius: 15px; */
        color: black;
        /* background-color: grey; */
    }
    
    .playerchoices .hit,
    .playerchoices .stick {
        border: 1px solid gold;
        border-radius: 15px;
        width: 75px;
        height: 70px;
        display: inline-block;
        color: white;
        text-align: center;
        background-color: green;
    }
    
    .dcard1 #dc1,
    .dcard2 #dc2,
    .pcard1 #pc1,
    .pcard2 #pc2,
    .pcard3 #pc3,
    .pcard4 #pc4,
    .pcard5 #pc5 {
        font-size: 40px;
    }